*, *::before, *::after {
    padding: 0;
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
}

:root {
    --inNout-text-color: #b70100;
    --inNout-background-color: #ffffff;
    --inNout-photo-box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    --inNout-nav-hover-effect: underline; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%vw;
    max-width: 80vw;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: var(--inNout-photo-box-shadow);
    /* border: 2px solid black; */
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding-bottom: 15px;
    border-bottom: 10px double var(--inNout-text-color);
    overflow: hidden;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-top: 15px;
}

.logo {
  padding-left: 15px;
  padding-top: 15px;
}

a {
    text-decoration: none;
    color: var(--inNout-text-color);
    font-size: 1.5rem;

}


.headerLinks {
    list-style-type: none;
    word-spacing: 10px;
    font-size: 1.2rem;
}

.headerLinks:hover {
    text-decoration: var(--inNout-nav-hover-effect);
    cursor: pointer;
}

@media (max-width: 1035px) {
    .headerLinks {
        display: none;
    }
}

@media (max-width: 755px) {
    .quality {
        width: 50%;
        height: auto;
    }
}


.banner {
    background: url(/images/bg.jpg);
    background-size: cover;
    max-width: 80vw;
    height: 80vh;
    display: flex;
    overflow: hidden;
}

.bannerSection {
    display: flex;
    justify-content: flex-end;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    /* border: 5px solid black; */
}

.bannerRight {
    text-align: center;
    overflow: hidden;
    flex-grow: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 5px solid black; */
}

.bannerBottom {
    padding-bottom: 15px;
    width: 100%;
    border-top: 10px solid var(--inNout-text-color);}

h1 {
    font-size: 4rem;
    width: 400px;
    margin-left: 50%;
}


button {
    background-color: transparent;
    padding: 15px 80px 15px 80px;
    border-radius: 10px;
    text-transform: capitalize;
    color: var(--inNout-text-color);
    border: 5px solid var(--inNout-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

button:hover {
    transform: scale(105%)
}

.doubleDouble {
    width: 900px;
    height: auto;
}

